.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem;
  margin: 0 auto;
  max-width: 75vw;
  height: 100vh;
  gap: 2rem;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

.column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  position: sticky;
  width: 45%;
  top: 0;
  align-self: flex-start;
}

.column_right {
width: 55%;
top: 0;
align-self: flex-start;

}