.container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}


.link {
    display: inline-block;
    margin-top: 10px;
    opacity: 0.7;
    color: var(--highlight-color);
    transition: all 1s;
}

.link:hover {
    opacity: 1;
}
.link:active {
    opacity: 1;
}
.link:focus {
    opacity: 1;
}

.link > hr {
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
    opacity: 0.7;
    color: var(--highlight-color);
    transition: all 1s;
}

.link:hover > hr {
width: 80px;
opacity: 1;
}

.link:active > hr {
width: 80px;
opacity: 1;
}

.link:focus > hr {
width: 80px;
opacity: 1;
}
