

.card_container {
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    transition: all 500ms;
}

.card_container:hover {
background-color: #00e0a711;
box-shadow: 0 0 3px #00e0a755 inset;

}

.card_container:hover > .card_right > .card_title > h2{
color: var(--highlight-color);

}

.card_left {
    font-weight: lighter;
    font-size: normal;
    width: 30%;
    opacity: var(--paragraph-opacity);
    color: var(--highlight-color);
    padding-top: 3px;
}

.card_right {
    width: 70%;
    color: var(--highlight-color);
}

@media only screen and (max-width: 600px) {
.card_container {
    padding: 2rem;
    flex-direction: column;
   
}

.card_left {
    width: 100%;

}

.card_right {
    width: 100%;
}
}

.card_description {
    
    font-weight: lighter;
    font-size: normal;
    padding-top: 1rem;
    opacity: var(--paragraph-opacity);
}

.card_tools {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;
}

.card_tool {
    text-wrap: nowrap;
    background-color: #7efadb33;
    padding: 0.3rem .8rem;
    border-radius: 12px;
    color: var(--highlight-color);
}

.card_projects {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;
}

.card_project {
    display: inline-block;
    text-wrap: nowrap;
    border-radius: 12px;
    color: #fff;
}

.card_project:hover {
    color: var(--highlight-color);
}


.card_project > p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

.card_project > p:hover {
    color: var(--highlight-color);
}

.card_title > h2{
    color: #fff;
    margin-top: 0;
  margin-bottom: .5rem;

}

.card_title > a > h3{
    margin-top: 0;
  margin-bottom: .5rem;
  color: #fff;

}
.card_title > a > h3:hover{
    color: var(--highlight-color);
transition: 500ms;
}

.container_links {
    padding: 0 2rem 0 2rem;
}
    
