.container {
    scroll-margin-top: 6rem;
}
.container > p {
    
    opacity: 0.8;
    margin: 0;
    padding: 0 2rem;
}

.container > p > a {
    color: var(--highlight-color);
    opacity: 0.7;
    transition: all 500ms;
    font-weight: 500;
}

.container > p > em {
    color: var(--highlight-color);
    opacity: 0.7;
}

.container > p > a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    opacity: 1;
}