.column_right {
    width: 100%;
    margin: 0;
    align-self: flex-start;
  }

.container_resume {
    padding: 0;
    opacity: 0.7;
}
.container_resume:hover {
    opacity: 1;
    transition: all 500ms;
}
.container_resume > a {
    display: inline-block;
    color: var(--highlight-color);
    transition: all 500ms;
}

.container_resume > p {
    display: inline-block;
    color: var(--highlight-color);
    opacity: var(--paragraph-opacity);
    transition: all 500ms;
    line-height: 1rem;
}

.container_resume:hover > a {
    display: inline-block;
    color: var(--highlight-color);
    text-underline-offset: 8px;
    opacity: 1;
    border-bottom: solid;
    border-width: 2px;
}

.container_resume:hover > p {
    display: inline-block;
    color: var(--highlight-color);
    transform: translate(7px, 0);
    opacity: 1;
    
}